.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    padding: 20px 500px;

    & a {
    text-decoration: none;
    }

    & a:hover {
        text-decoration: underline;
    }
}

.header-logo {
    margin-right: auto;
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 700;
}

.header-links {
    display: flex;
    gap: 25px;
}